
#device-list tr td {
    vertical-align: middle;
}

#device-list tr td:nth-child(1) {
    text-align: center;
}

#device-list tr td:nth-child(2) {
    white-space: normal;
}

#device-list tr td:nth-child(3) {
    font: .9em Menlo, Monaco, Consolas, "Courier New", monospace;
    opacity: .7;
}

#device-list tr td:nth-child(4) {
    text-align: center;
}

#schedule-table tr td {
    vertical-align: middle;
}

#schedule-table tr td:nth-child(1) .input-group {
    width: 11em;
}

#schedule-table tr td:nth-child(2) select {
    width: auto;
}

#schedule-table tr td:nth-child(3) {
    text-align: right;
}

.btn-group .btn {
    float: none;
}

.spinner-overlay {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;

    font-size: 1.2em;
    background-color: rgba(100, 100, 100, .7);
    color: #fff;

    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease, opacity .3s ease;
}

.spinner-overlay.visible {
    visibility: visible;
    opacity: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinning {
    animation: ease spin 1.3s infinite;
    transform-origin: 47% 48%;
}
